<script src="{{ static_url("Chart.min.js") }}"></script>


<div class="row">
    <div class="twelve columns u-full-width">
        <canvas id="chart"></canvas>
    </div>
    <div class="twelve columns u-full-width"></div>
</div>

<script>
    var ctx = document.getElementById("chart").getContext("2d");
    ctx.canvas.width = {{ width }};
    ctx.canvas.height = {{ height }};

    var chart = new Chart(ctx, {
        type: '{{ escape(type) }}',
        data: {
            labels: [ {% for value in values %} '{{ escape(value["label"]) }}', {% end %}],
            datasets: [{

                {% for dataset in datasets.keys() %} {{ escape(dataset) }}: '{{ escape(datasets[dataset]) }}', {% end %}
                {% for dataset in datasetsInt.keys() %} {{ escape(dataset) }}: {{ escape(datasetsInt[dataset]) }}, {% end %}

                label: 'Chart',
                data: [ {% for value in values %} {{ escape(value["value"]) }}, {% end %} 0],

                //backgroundColor: [ {% for value in values %} 'rgba(rgba(0, 0, 255, 0.2)', {% end %} 'rgba(255,255,255,0)'],
                //borderColor: [ {% for value in values %} 'rgba(rgba(0, 0, 255, 1)', {% end %} 'rgba(255,255,255,0)'],
                borderWidth: 1
            }]
        },
        options:{
            scales: {
                yAxes: [{
                    ticks: {
                        // get highest value in list of values to get proper step size
                        {% set listvals = [] %}
                        {% for value in values %} {% set listvals.append(int(value["value"])) %} {% end %}
                        stepSize: Math.ceil({{ max(listvals) / 5}})
                    }
                }]
            }
        }
    });

</script>