<h3> Filters </h3>
<hr/>
</br>
<p>Any filter scripts placed in the src/filters folder will be displayed here</p>
</br>
<h4> Enabled </h4>
<table class="u-full-width">
    <thead>
    <tr>
        <th> Filter Name </th>
        <th> </th>
    <tr>
    <thead>
    <tbody>
    {% for filter in allfilters %}
    <tr>
        <td>
            {{ escape(filter) }}
        </td>
        <td>
            <div class="row u-full-width">
                <div class="two columns u-full-width"></div>
                <div class="six columns u-full-width"></div>
                {% if filter in activeFilters %}
                    <div class="four columns pybutton u-pull-right"><a href="/filters/disable/{{ escape(filter) }}">Disable</a></div>
                {% else %}
                    <div class="four columns pybutton pyactive u-pull-right"><a href="/filters/enable/{{ escape(filter) }}">Enable</a></div>
                {% end %}
            </div>
        </td>
    </tr>
    {% end %}
    </tbody>
</table>