 <h4>Grabbed Links</h4>

    {% set maxLength = 50 %}

    {% if link != False %}
        <h5>Random Link</h5>
        <p>{{ escape(link) }}</p>
    {% end %}

    <div class="row u-full-width">
        <div class="two columns pybutton"><a href="/links/random">Random Link</a></div>
        <div class="two columns pybutton"><a href="/links/removeall">Clear all</a></div>

        <div class="eight columns u-full-width"></div>
    </div>

    <br/>
    <form method="post">
        <label for="if">Input Filter</label>
        <input class="u-full-width" id = "if" name="inputFilter" type="text" value="{{ escape(settings.config['linkgrabber']['filter']) }}" />
    </form>

    {% if data.currentRandomLink != "" %}
        <br/>
        <h5>Random Link:</h5>
        <table class="u-full-width">
            {% set name = list(data.links.keys())[list(data.links.values()).index(data.currentRandomLink)] %}
            <tr>
                <td>{{ escape(name) }}</td>
                <td>
                    {% if "http://" not in data.currentRandomLink %}
                        <a href="http://{{escape(data.currentRandomLink.replace(' ', '')) }}">{{ escape(data.currentRandomLink[:maxLength]) }}</a>
                    {% else %}
                        <a href="{{ escape(data.currentRandomLink) }}">{{ escape(data.currentRandomLink[:maxLength]) }}</a>
                    {% end %}
                </td>
                <td>
                    <div class="row u-full-width">

                        <div class="twelve columns pybutton u-pull-right"><a href="/links/remove/{{ escape(name) }}">Remove</a></div>
                     </div>
                </td>
            </tr>
        </table>

        {{ data.currentRandomLink = "" }}
    {% end %}

    <table class="u-full-width">
        <thead>
            <hr>
                <th> User </th>
                <th> Link </th>
                <th> </th>
            </hr>
        </thead>
        <tbody>
        {% for u in data.links.keys() %}
        <tr>
            <td>
                {{ escape(u) }}
            </td>
            <td>
                {% if "http://" not in data.links[u] %}
                    <a href="http://{{escape(data.links[u].replace(' ', '')) }}">{{ escape(data.links[u][:maxLength]) }}</a>
                {% else %}
                    <a href="{{ escape(data.links[u]) }}">{{ escape(data.links[u][:maxLength]) }}</a>
                {% end %}
            </td>
            <td>
                <div class="row u-full-width">
                    <div class="twelve columns pybutton u-pull-right"><a href="/links/remove/{{ escape(u) }}">Remove</a></div>
                </div>
            </td>
        </tr>
        {% end %}
        </tbody>
    </table>