<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Pybot Hub</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ static_url("css/normalize.css") }}">
  <link rel="stylesheet" href="{{ static_url("css/skeleton.css") }}">
    <link rel="stylesheet" href="{{ static_url("css/custom.css") }}">


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
	
	<div class="container">
		<section class="header">
			<h3 class="title">Pybot Hub</h3>
		</section>
		
		<div class="nav">
					<div class="row">
						{% if page == "users" %}
							<a class="button button-primary"><div class="three column">Users</div></a>
						{% else %}
							<a href="/hub/users" class="button"><div class="three column">Users</div></a>
						{% end %}
						{% if page == "filters" %}
							<a class="button button-primary"><div class="three column">Filters</div></a>
						{% else %}
							<a href="/hub/filters" class="button"><div class="three column">Filters</div></a>
						{% end %}
						{% if page == "settings" %}
							<a class="button button-primary"><div class="three column">Settings</div></a>
						{% else %}
							<a href="/hub/settings" class="button"><div class="three column">Settings</div></a>
						{% end %}
					</div>
		</div>
		
			
			{% if page == "users" %}
				<h3> Users </h3>
				<table class="u-full-width">
					<thread>
						<tr>
							<th>Name</th>
							<th>Points</th>
						</tr>
					</thread>
					<tbody>
						{% for name in data.points.keys() %}
							<tr>
								<td> {{ escape(name) }} </td>
								<td> {{ escape(str(data.points[name])) }} </td>
							</tr>
						{% end %}
					</tbody>
				</table>
			{% end %}
			
			{% if page == "settings" %}
				<h3> Settings </h3>
				<hr/>
				
				<form method="post">
					<h4> Bot </h4>
					<div class="row">
						<div class="six columns">
							<label for="botname">Bot name</label>
							<input class="u-full-width" id="botname" name="botname" type="text" value="{{ escape(settings.NAME) }}" />
						</div>
						<div class="six columns">
							<label for="botauth">Bot Auth</label>
							<input class="u-full-width" id="botauth" name="botauth" type="password" value="{{ escape(settings.AUTH) }}" />
						</div>
					</div>
					</br>
					<h4> Twitch </h4>
					<table class="u-full-width">
						<tr>
							<td>host</td>
							<td><input class="u-full-width" type="text" name="twitchhost" value="{{ escape(settings.HOST) }}" /></td>
						</tr>
						<tr>
							<td>port</td>
							<td><input class="u-full-width" type="text" name="twitchport" value="{{ escape(str(settings.PORT)) }}" /></td>
						</tr>
						<tr>
							<td>channel</td>
							<td><input class="u-full-width" type="text" name="channel" value="{{ escape(settings.channel) }}" /></td>
						</tr>
					</table>
					</br>
					<h4> Web </h4>
					<div class="row">
						<div class="six columns">
							<label for="webport">Web Port</label>
							<input id="webport" name="webport" type="text" value="{{ escape(str(settings.webport)) }}" />
						</div>
						<div class="six columns">
							<label for="web">Enabled</label>
							{% if settings.web %}
								<input id="web" name="web" type="checkbox" value="True" checked=checked/>
							{% else %}
								<input id="web" name="web" type="checkbox" value="True" />
							{% end %}
						</div>
					</div>
					
					<input type="submit" class="button button-primary" value="Save Changes" />
				</form>
			{% end %}
					
	</div>
  

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
